<header>
    <app-header></app-header>
</header>
<section class="relative w-full max-w-2xl mx-auto mt-16 rounded-xl overflow-hidden shadow-2xl min-h-[600px]">
  <img 
    src="../../../assets/404.jpeg" 
    alt="Página no encontrada" 
    class="w-full h-[600px] object-cover filter brightness-75 blur-[1px] mt-8"
  />
  <div class="absolute inset-0 flex flex-col justify-start items-start p-8 mt-8 ">
    <h2 class="text-4xl font-bold text-white mb-4 drop-shadow-lg">Página no encontrada</h2>
    <p class="text-lg text-white mb-8 drop-shadow">
      La página a la que intentas acceder <br>
      no existe o es errónea.
    </p>
    <a 
      href="/"
      class="inline-block px-6 py-2 bg-white/90 text-black font-semibold rounded-lg shadow hover:bg-white transition"
    >
      Volver al inicio
    </a>
  </div>
</section>